window {
    background-color: #333333;
    color: #ffd5cd;
    font-family: Museo Sans;
}

.power-state {
    // width: 64px;
    background-color: #111111;

    // > * {
    //     height: 64px;
    // }
}
